.down {
  margin-left: 10px;
  transition: transform 0.5s;
}

.down.expand {
  transform: rotate(-90deg);
}

.dropdown-content {
  position: absolute;
  top: 0px;
  height: 90px;
  width: 70px;
  margin-top: 15px;
  border-radius: 10px;
  transition: all 10s;
}

.dropdown-content.collapsed {
  top: 70px;
}

@media only screen and (max-width: 450px) {
  .dropdown-content.collapsed {
    top: 130px;
  }
}


@media only screen and (max-width: 1300px) {
  .dropdown-content.collapsed {
    top: 90px;
  }
}