@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
  scroll-behavior: smooth;

  /* font-family: "DM Serif Display", serif; */
  /* font-weight: 400; */
  /* font-style: normal; */
}

.colorTesters{
  color: rgb(223, 218, 218);
  color: aliceblue;
}

.cursor{
  cursor: pointer;
}

/* body{
  background-color: red;
} */
/* #root{ */
  /* primaryColor: #fff; */
/* } */

.display {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align {
  display: flex;
  align-items: cetner;
}

.justify {
  display: flex;
  justify-content: center;
}

.justifyStart{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.start{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.space{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
}

.spaceColumn{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.test{
  background-color: rgb(100, 97, 97);
}

.start{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.columnStart{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.alignEnd{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.justifyEnd{
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnAlignEnd{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.pointer{
  cursor: pointer;
}