.active{
    color: gold;
}

.bottom {
    background-color: black;
    color: white;
}

.shoe {
    background-color: black;
    color: white;
}
.top {
    background-color: black;
    color: white;
}