.ronaldo {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: basicSlider 15s ease infinite;
}

@keyframes basicSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/triple/sport2.jpg");
  }
  25% {
    background-image: url("../../../assets/images/triple/sport.webp");
  }
  50% {
    background-image: url("../../../assets/images/triple/sport1.jpg");
  }
  75% {
    background-image: url("../../../assets/images/triple/sport2.webp");
  }
}

.lionel {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: messiSlider 15s ease infinite;
}

@keyframes messiSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/triple/fourth1.jpg");
  }
  25% {
    background-image: url("../../../assets/images/triple/fourth4.jpg");
  }
  50% {
    background-image: url("../../../assets/images/triple/fourth2.jpg");
    background-position: center;
  }
  75% {
    background-image: url("../../../assets/images/triple/fourth3.jpg");
    background-position: center;
  }
}

.neymar {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: neymarSlider 15s ease infinite;
}

@keyframes neymarSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/triple/third3.jpg");
  }
  25% {
    background-image: url("../../../assets/images/triple/second.jpg");
  }
  50% {
    background-image: url("../../../assets/images/triple/first1.jpg");
  }
  75% {
    background-image: url("../../../assets/images/triple/first3.jpg");
  }
}
.suarez {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: suarezSlider 15s ease infinite;
}

@keyframes suarezSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/triple/third4.jpg");
  }
  25% {
    background-image: url("../../../assets/images/triple/third5.jpg");
  }
  50% {
    background-image: url("../../../assets/images/triple/third2.jpg");
  }
  75% {
    background-image: url("../../../assets/images/triple/third6.jpg");
  }
}

.spray {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: spraySlider 13s linear infinite;
}

@keyframes spraySlider {
  0%,
  100% {
    background-image: url("../../../assets/images/perfumes/deodarantsformen.jpg");
  }
  25% {
    background-image: url("../../../assets/images/perfumes/deodarantsformen.jpeg");
  }
  50% {
    background-image: url("../../../assets/images/perfumes/spraysforwomen.webp");
  }
  75% {
    background-image: url("../../../assets/images/perfumes/sprayformen.jpg");
  }
}

.floral {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: floralSlider 10s linear infinite;
}

@keyframes floralSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/perfumes/floralwomenperfume.jpg");
  }
  25% {
    background-image: url("../../../assets/images/perfumes/floralmenperfume.jpg");
  }
  50% {
    background-image: url("../../../assets/images/perfumes/floralkidsperfume.jpg");
  }
  75% {
    background-image: url("../../../assets/images/perfumes/floralallperfume.jpg");
  }
}

.cytrus {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: floralSlider 10s linear infinite;
}

@keyframes floralSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/perfumes/citrusformenblue.jpg");
  }
  25% {
    background-image: url("../../../assets/images/perfumes/citrusperfume.webp");
  }
  50% {
    background-image: url("../../../assets/images/perfumes/citruswomenperfume.avif");
  }
  75% {
    background-image: url("../../../assets/images/perfumes/grapefruitformen.jpeg");
  }
}

.spicy {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: spicySlider 10s linear infinite;
}

@keyframes spicySlider {
  0%,
  100% {
    background-image: url("../../../assets/images/perfumes/spicyforall.jpg");
  }
  25% {
    background-image: url("../../../assets/images/perfumes/spicyformen.jpeg");
  }
  50% {
    background-image: url("../../../assets/images/perfumes/spicyforwomen.jpg");
  }
  75% {
    background-image: url("../../../assets/images/perfumes/grpefruitperfume.webp");
  }
}

.stylehijab {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: styleSlider 10s linear infinite;
}

@keyframes styleSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/hijab/hijabcoolstyle1.jpg");
  }
  25% {
    background-image: url("../../../assets/images/hijab/hijabcoolstyle2.jpg");
  }
  50% {
    background-image: url("../../../assets/images/hijab/hijabcoolstyle3.jpg");
  }
  75% {
    background-image: url("../../../assets/images/hijab/hijabcoolstyle4.jpeg");
  }
}

.kidshijab {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: kidshijabSlider 10s linear infinite;
}

@keyframes kidshijabSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/hijab/hijabkids1.jpg");
  }
  25% {
    background-image: url("../../../assets/images/hijab/hijabkids2.webp");
  }
  50% {
    background-image: url("../../../assets/images/hijab/hijabkids3.jpg");
  }
  75% {
    background-image: url("../../../assets/images/hijab/hijabkids4.jpg");
  }
}

.coolhijab {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: coolhijabSlider 10s linear infinite;
}

@keyframes coolhijabSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/hijab/hijabstyle4.avif");
  }
  25% {
    background-image: url("../../../assets/images/hijab/hijabstyles1.avif");
  }
  50% {
    background-image: url("../../../assets/images/hijab/hijabstyles2.jpg");
  }
  75% {
    background-image: url("../../../assets/images/hijab/hijabstyles3.webp");
  }
}

.familyhijab {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: familyhijabSlider 10s linear infinite;
}

@keyframes familyhijabSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/hijab/hijabwide2.jpg");
  }
  25% {
    background-image: url("../../../assets/images/hijab/hijabwide4.jpeg");
  }
  50% {
    background-image: url("../../../assets/images/hijab/hijabwife1.jpeg");
  }
  75% {
    background-image: url("../../../assets/images/hijab/hijabwife3.jpeg");
  }
}

.kidssuits {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: kidssuitsSlider 10s linear infinite;
}

@keyframes kidssuitsSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/kids/kidssuits1.webp");
  }
  25% {
    background-image: url("../../../assets/images/kids/kidssuits2.webp");
  }
  50% {
    background-image: url("../../../assets/images/kids/kidssuits4.jpg");
  }
  75% {
    background-image: url("../../../assets/images/kids/kidssuits5.jpg");
  }
}

.kidssmart {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: kidssmartSlider 10s linear infinite;
}

@keyframes kidssmartSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/kids/kidssmart1.jpg");
  }
  25% {
    background-image: url("../../../assets/images/kids/kidssmart2.jpg");
  }
  50% {
    background-image: url("../../../assets/images/kids/kidssmart3.jpg");
  }
  75% {
    background-image: url("../../../assets/images/kids/kidssmart4.jpg");
  }
}

.kidscasual {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: kidscasualSlider 10s linear infinite;
}

@keyframes kidscasualSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/kids/kidscasual1.jpg");
  }
  25% {
    background-image: url("../../../assets/images/kids/kidscasual2.jpg");
  }
  50% {
    background-image: url("../../../assets/images/kids/kidscasual3.jpg");
  }
  75% {
    background-image: url("../../../assets/images/kids/kidscasual4.jpg");
  }
}

.kidssport {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: kidssportSlider 10s linear infinite;
}

@keyframes kidssportSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/kids/kidssport1.jpg");
  }
  25% {
    background-image: url("../../../assets/images/kids/kidssport2.webp");
  }
  50% {
    background-image: url("../../../assets/images/kids/kidssport3.jpg");
  }
  75% {
    background-image: url("../../../assets/images/kids/kidssport4.webp");
  }
}
