.ronaldo {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: top;
  animation: basicSlider 15s ease infinite;
}

@keyframes basicSlider {
  0%,
  100% {
    background-image: url("../../../assets/images/smart6.webp");
  }
  20% {
    background-image: url("../../../assets/images/smart7.jpg");
  }
  40% {
    background-image: url("../../../assets/images/smartm.jpg");
  }
  60% {
    background-image: url("../../../assets/images/smart.jpg");
  }
  80% {
    background-image: url("../../../assets/images/beckham.webp");
  }
}

/* 
#first,.fourth {
  margin-bottom: 140px;
}

.second,.third{
  margin-top: 190px;
}

#second{
  border-bottom-left-radius: 110%;
} */