.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  position: relative;
  height: 30px;
}

.input-group input {
    padding-bottom: 2px;
  font-size: 14px;
  width: 100%;
  outline: none;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #acacac;
  background-color: transparent;
  color: grey;
  transition: 0.15s all ease;
}

.input-group input:focus {
  border-color: black;
  padding-bottom: 3px;
  position: relative;
  top: 10px;
}

.input-group input::placeholder {
  color: transparent;
}

label {
  position: relative;
  top: -25px;
  left: 0;
  font-size: 18px;
  color: #acacac;
  pointer-events: none;
  transition: 0.15s all ease;
}

input:focus + label {
  top: -35px;
  background-color: transparent;
  font-size: 16px;
  color: black;
  font-weight: bold;
}
