section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    /* height: 150px; */
}

.form-group{
    position: relative;
    /* margin: 12px 0; */
}

.form-group input {
    /* padding: 8px 10px; */
    font-size: 17px;
    width: 100%;
    outline: none;
    border-radius: 0px;
    border: none;
    border-bottom:  1px solid #acacac;
    background-color: transparent;
    color: grey;
    transition: 0.15s all ease;
}

.form-group input:focus {
    border-color: black;
}

.form-group input::placeholder{
    color: transparent; 
}

.form-group .form-label {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 17px;
    /* padding: 0 10px; */
    color: #acacac;
    pointer-events: none;
    transition:0.15s all ease;
}

.form-group input:focus + .form-label, 
.form-group input:not(:placeholder-shown) + .form-label{
    transform: translate(0px, -10px);
    background-color: transparent;
    font-size: 14px;
    color: black;
}

/* .topMar{
    margin-top: 20px;
} */