.kid {
  animation: kidsSlider 15s ease infinite;
}

@keyframes kidsSlider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75%,
  95% {
    left: -300%;
  }
  100%{
    left: -400%;
  }
}