.crown {
  position: relative;
  top: 7px;
}

.videoTitles {
  position: relative;
  top: 60px;
  background-color: red;
}

#sneakers-button-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
