* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  box-shadow: 4px 7px 15px #e6e4e4;

  width: 200px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
}

.wrapper {
  padding: 0px 50px;
  /* background-color: red; */
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .btn {
    background-color: green;
  }
  .wrapper {
    width: 700px;
    margin-top: 20px;

  }
}

@media screen and (max-width: 450px) {
  .btn {
    background-color: blue;
  }
  .wrapper {
    width: 355px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 10px;
    margin-top: 65px;
  }
}
