.category-item{
    background-color: white;
}

.category-active-item{
    background-color: black;
    color: white;
}

.category-menu::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

.warning-closer{
  position: relative;
  top: 6px;
}